<h1>{{title}}</h1>
<mat-form-field appearance="fill">
  <mat-label>Titulo</mat-label>
  <input matInput type="text" name="titulo" [(ngModel)]="livro.titulo"> 
</mat-form-field>
<mat-form-field>
  <mat-label>Gênero literário</mat-label>  
  <input matInput type="text" name="genero" [(ngModel)]="livro.genero"> 
</mat-form-field>
<mat-form-field>
  <mat-label>Código de livro (ISBN)</mat-label>  
  <input matInput type="text" name="isbn" [(ngModel)]="livro.ISBN">
</mat-form-field>
<mat-form-field>
  <mat-label>Resumo literário</mat-label>  
  <input matInput type="text" name="resumo" [(ngModel)]="livro.resumo">
</mat-form-field><button mat-icon-button color="primary" (click)="inserirLivro()">
    <mat-icon>add</mat-icon>
</button><br>

<mat-card *ngFor="let livro of estante" class="book-card">
  <button mat-icon-button color="black" class="deletebutton" (click)="removerLivro()"><mat-icon>delete_outline</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title style="font-size: 25px;">
      <mat-icon style="margin-left: 0px;">book icon</mat-icon>
      {{livro.titulo}}
    </mat-card-title> 
    <mat-card-subtitle>Gênero: {{livro.genero}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="livro.resumo" style="font-size: 20px;">Resumo: <br> {{livro.resumo}}</mat-card-content>
  <mat-card-content>ISBN: {{livro.ISBN}}</mat-card-content>
</mat-card>



<span><p style="text-align: center;margin-top: -100px;">Geraldo Neto & Raqueline Gomes - PWEB 2023.1</p>
</span>
